<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .container_msg 
    {
        width:100%;
        height:250px;
        background-color: #ddeeff; 
        text-align: center;
    }
    .container_msg div
    {
        font-size: 28px;
        color:gray;
        font-style: italic;
    }
    .container_msg  p
    {

        color:gray;
        font-style: italic;
        font-size: 21px;
    }
    .c_back a
    {
        text-decoration: none;
        color:blue;
    }

</style>
<body>
    <div class="container_msg">
        <div>
             Merci de nous contacter.
        </div>
        <p>
       
            Nous avons reçu votre demande et nous vous répondrons dans les 24 heures.
            <br> Pour toute demande urgente, veuillez nous contacter à l'un des numéros de téléphone ci-dessous.
        </p>
        <p class="c_back"><a href="index">Cliquer ici pour revenir à la page d'accueil</a></p>
     

    </div>
    
</body>
</html>