<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .container_msg 
    {
        width:100%;
        height:250px;
        background-color: #ddeeff; 
        text-align: center;
    }
    .container_msg div
    {
        font-size: 28px;
        color:gray;
        font-style: italic;
    }
    .container_msg  p
    {

        color:gray;
        font-style: italic;
        font-size: 21px;
    }
    .c_back a
    {
        text-decoration: none;
        color:blue;
    }

</style>
<body>
    <div class="container_msg">
        <div>
            Vous n'êtes pas encore inscrit.
        </div>
        <p>
           Ce utilisateur exite déja !
        </p>
        <p class="c_back"><a href="/Signup.hbs">Cliquer ici pour revenir à la page d'inscription </a></p>
     

    </div>
    
</body>
</html>