<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="Style/style1.css">
    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style>
  .error {
  color: red;
  font-size: 20px;
}

/*Page SinguP*/
.signTitle {
  font-size: 25px;
  color: #007bff;
  text-align: center;
  margin-top: 25px;
}

.container {
  margin-top: 20px;
  
}

.container .div_btn {
  text-align: center !important;
}

.container .div_btn .btn-envoyer {
  width: 150px;
  
}
#footer
{
  margin-top: 200px !important ;
}

</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img id="logo" src="images/logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Presentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">E-Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Activités</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-globe-europe"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Arabe</a>
                  <a class="dropdown-item" href="#">Francais</a>
                </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Chercher" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
      </nav>

    <h1 class="signTitle">S’ENREGISTRER</h1>
    <div class="container">
        <form id="_form" method="POST" action="/submit">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Votre Nom  </label>
                <input type="text" name="Nom" class="form-control" id="Nom" placeholder="Nom">
                <span id="err_nom"></span>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Votre Prénom   </label>
                <input type="text" name="Prenom" class="form-control" id="Prenom" placeholder="Prénom">
                <span id="err_prenom"></span>
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Code d'identité National  </label>
              <input type="text" name="CIN" class="form-control" id="Cin" placeholder="HHxxxxxx">
              <span id="err_cin"></span>
            </div>
            <div class="form-group">
              <label for="inputAddress2">Qualité  </label>
              <input type="text" name="Qualite" class="form-control" id="qualite" placeholder="Professeur / étudiant / Vendeur  ">
              <span id="err_qualite"></span>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">Numéro de Téléphone (facultatif)</label>
                <input type="text" name="tel" class="form-control" id="tel">
                <span id="err_tel"></span>
              </div>
             
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    j’ai lu et j’accepte les conditions générales, notamment la mention relative à la protection des données personnelles *
                </label>
              </div>
            </div>
            {{!-- <button type="submit" name='submit' class="btn btn-primary">S’ENREGISTRER</button> --}}
              <input type="submit" class="btn btn-primary" value="S’ENREGISTRER">  
          </form>

    </div>
    
     <div id="footer">
        <div class="container">
            <div class="content">
                <div class="left">
                    <p>© 2016 - Agence Urbaine SAFI-YOUSSOUFIA</p>
                </div>
                <div class="center">
                    <p>Conditions Générales d’Utilisation</p>
                </div>
                <div class="right">
                    <img src="images/facebook.png" alt="">
                    <img src="/images/twitter.png" alt="">
                    <img src="/images/rss.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="Script/main.js"></script>
</body>

</html>